/classes/
/.classpath
/.project
/lib/
/logs/
/data/
*.jar
*.class
/java.hprof.txt
/target/
*.bbl
*.blg
*.lof
*.log
*.pdf
*.toc
*.aux
*.gz
*.tar
*.bcf
*.idx
*.loe
*.run.xml
*.nlo
*.out
*.glg
*.glo
*.gls
*.ilg
*.ind
*.xdy
*.ist
*syntex*
/.externalToolBuilders/
/.settings/
/.README.md.html
/apache-commons-parent-pom.xml
/.idea/.gitignore
/.idea/.name
/.idea/ant.xml
/.idea/ClojureProjectResolveSettings.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__codox_codox_0_10_8.xml
/.idea/libraries/Maven__com_google_javascript_closure_compiler_v20151015.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_abbreviation_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_anchorlink_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_aside_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_autolink_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_definition_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_emoji_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_escaped_character_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_footnotes_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_gfm_strikethrough_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_gfm_tasklist_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_ins_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_jekyll_front_matter_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_superscript_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_tables_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_toc_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_typographic_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_wikilink_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_ext_yaml_front_matter_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_jira_converter_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_profile_pegdown_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_ast_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_builder_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_collection_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_data_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_dependency_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_format_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_html_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_misc_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_options_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_sequence_0_62_2.xml
/.idea/libraries/Maven__com_vladsch_flexmark_flexmark_util_visitor_0_62_2.xml
/.idea/libraries/Maven__enlive_enlive_1_1_6.xml
/.idea/libraries/Maven__hiccup_hiccup_1_0_5.xml
/.idea/libraries/Maven__org_ccil_cowan_tagsoup_tagsoup_1_2_1.xml
/.idea/libraries/Maven__org_clojure_clojure_1_11_1.xml
/.idea/libraries/Maven__org_clojure_clojurescript_1_7_189.xml
/.idea/libraries/Maven__org_clojure_core_specs_alpha_0_2_62.xml
/.idea/libraries/Maven__org_clojure_data_json_0_2_6.xml
/.idea/libraries/Maven__org_clojure_google_closure_library_0_0_20151016_61277aea.xml
/.idea/libraries/Maven__org_clojure_google_closure_library_third_party_0_0_20151016_61277aea.xml
/.idea/libraries/Maven__org_clojure_spec_alpha_0_3_218.xml
/.idea/libraries/Maven__org_clojure_tools_namespace_0_2_11.xml
/.idea/libraries/Maven__org_clojure_tools_reader_0_10_0_alpha3.xml
/.idea/libraries/Maven__org_jetbrains_annotations_15_0.xml
/.idea/libraries/Maven__org_jsoup_jsoup_1_7_2.xml
/.idea/libraries/Maven__org_mozilla_rhino_1_7R5.xml
/.idea/libraries/Maven__org_nibor_autolink_autolink_0_6_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_4.xml
/.idea/libraries/Maven__org_ow2_asm_asm_analysis_9_4.xml
/.idea/libraries/Maven__org_ow2_asm_asm_tree_9_4.xml
/.idea/libraries/Maven__org_ow2_asm_asm_util_9_4.xml
/.idea/libraries/Maven__org_parboiled_parboiled_core_1_4_1.xml
/.idea/libraries/Maven__org_parboiled_parboiled_java_1_4_1.xml
/.idea/misc.xml
/.idea/modules.xml
/palisades-lakes-parent.iml
/.idea/vcs.xml
